@use 'app';

.container-main {
  padding: 0px 50px;
}
.container-card {
  text-align: center;
  .img-card {
    width: 100%;
  }
  .title-card {
    margin: 30px 0px;
  }
  .btn-card {
    width: 80%;
    padding: 15px;
    background-color: app.$cyan;
    border-radius: 50px;
    margin: 30px 0px;
  }
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 100px 0px;
  .name-item {
    margin: 15px 0px 10px 0px;
  }
}

.container-card-2 {
  .name-item {
    margin: 15px 0px 10px 0px;
  }
  .img-card-2 {
    width: 100%;
  }
  .flyo-works {
    text-align: start;
    color: app.$cyan;
    padding: 5px;
    text-decoration: none;
    border-bottom: 1.5px solid app.$cyan;
    .row-enlace {
      border-radius: 50%;
      background-color: app.$cyan;
      color: black;
      padding: 3px;
      font-size: 10px;
    }
  }
}
.container-coments {
  position: relative;
  margin: 180px 0px;
  .comillas {
    position: absolute;
    top: 12px;
    left: -15px;
  }
}
.container-comment {
  padding: 20px;
  background-color: app.$testimonials-background;
  margin: 50px 0px;
  border-radius: 7px;
  .user {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
    .img-user {
      border-radius: 50%;
      height: 50px;
    }
  }
}

@media (min-width: 550px) {
  .container-card {
    margin: 50px auto;
    width: 60%;
  }
  .services {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
  .container-card-2 {
    margin: 50px auto;
    width: 60%;
  }
  .container-coments{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }
}

